  <div class="list">
  <ul>
    <% for student in @students %>
      <li>
        <%= student.first_name %>
        <%= student.last_name %>
        <%@house = student.find_house() %>
        <%= @house.name %>
        <%= student.age %>
      </li>
      <hr>
    <% end %>
  </ul>
</div>
