<!DOCTYPE html>
<html>
<head>
  <title>Hogwart Students</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/students">Students</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>